# Build directories and generated artifacts
/build/
/build-xbstrap/
/.xbstrap/
bootstrap.link
pkg-builds/
sysroot/
system-root/
iso_root/
initramfs_root/

# Sources and upstream downloads
/sources/
*.tar.*
*.tar
*.tgz
*.zip

# Disk images and boot binaries
*.iso
*.hdd
*.cpio
*.img

# Firmware and bootloader binaries
/limine
/ovmf
/edk2-ovmf
config/edk2-ovmf/
config/ovmf/

# Kernel build artifacts
kernel/target/
kernel/kernel
kernel/bin-*/